// src\app\shared\toolbar\toolbar.component.scss

@import 'variables';

/* Navigation Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  border-color: $primary-color;
  box-shadow: 0 0 5px $primary-color;
}

/* Left Section: Logo and Title */
.logo {
  display: flex;
  align-items: center;

  img {
    height: 3rem;
  }
}

p {
  font-size: $font-size-large;
}

/* Right Section: Links and Buttons */
.right-section {
  display: flex;
  align-items: center;
  gap: 10px;

  /* Navigation Links */
  .nav-link {
    text-decoration: none;
    color: $text-color;
    font-size: $font-size-small;

    &:hover {
      color: $secondary-color;
    }
  }

  /* Divider Line */
  .divider {
    height: 30px;
    width: 1px;
    background-color: $text-color;
  }

  /* Create Blog Button */
  .create-post-button {
    // font-size: $font-size-medium;
    // font-weight: bold;
    // background-color: $accent-color;
    color: $text-color;
    // border: none;
    border-radius: 5px;
    padding: $font-size-small;
    cursor: pointer;

    &:hover {
      background-color: $accent-color;
    }

    &:disabled {
      background-color: $background-color-dark;
      color: $text-color-dark;
      cursor: not-allowed;
    }
  }

  /* Profile Avatar */
  .profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid $secondary-color;
  }

  /* Login/Logout Button */
  button {
    background-color: transparent;
    color: $text-color;
    border: none;
    cursor: pointer;
    font-size: $font-size-small;

    &:hover {
      color: $secondary-color;
    }
  }
}
