<!-- src\app\shared\toolbar\toolbar.component.html -->

<nav>
  <!-- Left Section: Logo and Title -->
  <div class="logo">
    <img src="assets/images/angular_full_color_logo.svg" alt="Lucas Blog Logo" />
    <p class="title">{{ 'toolbar.title' | translate }}</p>
  </div>

  <!-- Right Section: Links and Buttons -->
  <div class="right-section">
    <!-- Navigation Links -->
    <a routerLink="/" class="nav-link">{{ 'toolbar.home' | translate }}</a>
    <a routerLink="/demo" class="nav-link">{{ 'toolbar.demo' | translate }}</a>

    <!-- Divider Line -->
    <div class="divider"></div>

    <!-- Create Blog Button -->
    <button
      class="create-post-button"
      [disabled]="(user$ | async) === null"
      [routerLink]="['/createBlog']"
      matTooltip="{{ 'toolbar.createPostTooltip' | translate }}"
      [matTooltipDisabled]="(user$ | async) !== null"
      aria-label="Create Blog Post"
    >
      +
    </button>

    <!-- Divider Line -->
    <div class="divider"></div>

    <!-- Profile Avatar -->
    <!-- @if (user$ | async) {
    <img [src]="(profile$ | async)?.avatarURL || 'profile_avatar-placeholder.png'" alt="User avatar"
      class="profile-avatar" (click)="goToProfile()" (keydown.enter)="goToProfile()" tabindex="1" />
    <button (click)="logout()">Logout</button>
    } @else {
    <button (click)="openLoginModal()">Login</button>
    } -->
    <ng-container *ngIf="user$ | async as user; else loginButton">
      <img
        [src]="(profile$ | async)?.avatarURL || './assets/images/profile_avatar-placeholder.png'"
        alt="User avatar"
        class="profile-avatar"
        (click)="goToProfile()"
        (keydown.enter)="goToProfile()"
        tabindex="1"
      />
      <button (click)="logout()">{{ 'toolbar.logout' | translate }}</button>
    </ng-container>
    <ng-template #loginButton>
      <button (click)="openLoginModal()">{{ 'toolbar.login' | translate }}</button>
    </ng-template>

    <!-- Language Dropdown -->
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="switchLanguage('en')">🇺🇸 English</button>
      <button mat-menu-item (click)="switchLanguage('de')">🇩🇪 Deutsch</button>
      <button mat-menu-item (click)="switchLanguage('fr')">🇫🇷 Français</button>
      <button mat-menu-item (click)="switchLanguage('it')">🇮🇹 Italiano</button>
      <button mat-menu-item (click)="switchLanguage('es')">🇪🇸 Español</button>
      <button mat-menu-item (click)="switchLanguage('de_ch')">🇨🇭 Schwiizerdütsch</button>
      <button mat-menu-item (click)="switchLanguage('hexadecimal')">🤖 Hexadecimal</button>
      <button mat-menu-item (click)="switchLanguage('morse')">➗ Morse Code</button>
      <button mat-menu-item (click)="switchLanguage('en_pirate')">🏴‍☠️ Pirate English</button>
      <button mat-menu-item (click)="switchLanguage('en_doge')">🐶 Doge English</button>
      <button mat-menu-item (click)="switchLanguage('en_yoda')">👽 Yoda English</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="languageMenu">🌐 {{ 'toolbar.language' | translate }}</button>
  </div>
</nav>

<!-- Login Modal -->
<app-login-page *ngIf="showLoginModal" (close)="closeLoginModal()"> </app-login-page>
