<!-- src\app\shared\toolbar\toolbar.component.html -->

<nav>
  <div class="logo">
    <a routerLink="/">
      <p>Lucas Blog</p>
    </a>
  </div>
  <ul>
    <li><a routerLink="/demo">Demo</a></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>

  <!-- Right-side buttons -->
  <div class="auth-buttons">
    <!-- Use @if to check if the user is logged in -->
    @if (user$ | async) {
      <!-- Show profile avatar and logout button if logged in -->
      <div
        class="profile-avatar-container"
        (click)="goToProfile()"
        (keydown.enter)="goToProfile()"
        (keydown.space)="goToProfile()"
        role="button"
        aria-label="View Profile"
        tabindex="0"
      >
        <img
          [src]="(profile$ | async)?.avatarURL || 'default-avatar.png'"
          alt="User avatar"
          class="profile-avatar"
        />
      </div>
      <button (click)="logout()">Logout</button>
    } @else {
      <!-- Show login button if not logged in -->
      <button (click)="openLoginModal()">Login</button>
    }
  </div>
</nav>

<!-- Login Modal -->
<app-login-page
  *ngIf="showLoginModal"
  (close)="closeLoginModal()"
></app-login-page>
