<!-- src\app\features\registration-page\registration-page.component.html -->

<div class="modal-overlay" (click)="closeModal()" (keydown.enter)="closeModal()" tabindex="0"></div>

<div class="modal">
  <h2>{{ 'registrationPage.title' | translate }}</h2>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field class="form-field-email">
      <mat-label>{{ 'registrationPage.form.emailLabel' | translate }}</mat-label>
      <input type="email" matInput formControlName="email" [placeholder]="'registrationPage.form.emailPlaceholder' | translate" />
      <mat-error *ngIf="emailFormControl?.hasError('email') && !emailFormControl?.hasError('required')">
        {{ 'registrationPage.form.emailInvalid' | translate }}
      </mat-error>
      <mat-error *ngIf="emailFormControl?.hasError('required')">
        {{ 'registrationPage.form.emailRequired' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-password">
      <mat-label>{{ 'registrationPage.form.passwordLabel' | translate }}</mat-label>
      <input type="password" matInput formControlName="password" [placeholder]="'registrationPage.form.passwordPlaceholder' | translate" />
      <mat-error *ngIf="passwordFormControl?.hasError('required')">
        {{ 'registrationPage.form.passwordRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="passwordFormControl?.hasError('invalidPassword')">
        {{ 'registrationPage.form.passwordInvalid' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-password">
      <mat-label>{{ 'registrationPage.form.confirmPasswordLabel' | translate }}</mat-label>
      <input type="password" matInput formControlName="confirmPassword" [placeholder]="'registrationPage.form.confirmPasswordPlaceholder' | translate" />
      <mat-error *ngIf="registerForm.hasError('passwordMismatch')">
        {{ 'registrationPage.form.passwordMismatch' | translate }}
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">{{ 'registrationPage.submitButton' | translate }}</button>
  </form>

  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }
</div>
