<!-- src\app\features\blog-detail\blog-detail.component.html -->
<div class="blog-detail" *ngIf="blog">
  <div class="main-card">
    <h2>{{ blog.title }}</h2>
    <img *ngIf="blog.imageURL" [src]="blog.imageURL" alt="Blog image" />
    <div class="content">
      {{ blog.content }}
    </div>
  </div>

  <div class="meta-card">
    <div class="meta-item">Category: {{ blog.category }}</div>
    <div class="meta-item">
      Published Date: {{ blog.publishedDate | date: "medium" }}
    </div>
  </div>
</div>
