<!-- src\app\features\blog-overview\blog-overview.component.html -->

<div class="blog-container">
  <!-- Loading State -->
  <div *ngIf="loading" class="loading">Blogs are loading... Please wait.</div>

  <!-- Error State -->
  <div *ngIf="!loading && error" class="error">{{ error }}</div>

  <!-- Empty State -->
  <div *ngIf="!loading && !error && blogs.length === 0" class="no-blogs">No blogs found.</div>

  <!-- Blog Grid -->
  <div *ngIf="!loading && !error && blogs.length > 0" class="blog-grid">
    <app-blog-card *ngFor="let blog of blogs; trackBy: trackByBlogId" [blog]="blog" (blogClick)="onBlogClick(blog.documentID)"></app-blog-card>
  </div>
</div>
