<!-- src\app\features\blog-overview\blog-overview.component.html -->

<div class="blog-container">
  <!-- Loading State -->
  @if (loading) {
    <div class="loading">Blogs are loading... Please wait.</div>
  } @else if (error) {
    <!-- Error State -->
    <div class="error">{{ error }}</div>
  } @else if (blogs.length === 0) {
    <!-- Empty State -->
    <div class="no-blogs">No blogs found.</div>
  } @else {
    <!-- Blog Grid -->
    <div class="blog-grid">
      @for (blog of blogs; track blog.documentID) {
        <app-blog-card [blog]="blog" (blogClick)="onBlogClick(blog.documentID)"></app-blog-card>
      }
    </div>
  }
</div>
