// src\app\app.component.scss

app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

app-loading-bar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  z-index: 1001;
}

router-outlet {
  display: block;
  z-index: 0;
}

app-sidenav {
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 64px);
  width: 250px;
  z-index: 500;
  transform: translateX(-100%); /* Initially hidden (off-screen) */
  transition: transform 0.1s ease-in-out; /* Smooth transition for opening/closing */
}

/* When the sidenav is open, slide it into view */
app-sidenav.open {
  transform: translateX(0);
}
