<!-- src\app\features\login-page\login-page.component.html -->

<div class="modal-overlay" (click)="closeModal()" (keydown.enter)="closeModal()" tabindex="0"></div>

<div class="modal">
  <h2>{{ 'loginPage.title' | translate }}</h2>

  <!-- Login Buttons -->
  <div class="login-buttons">
    <button mat-raised-button color="primary" (click)="loginAnonymously()">{{ 'loginPage.loginAnonymously' | translate }}</button>
    <button mat-raised-button color="primary" (click)="loginWithGoogle()">{{ 'loginPage.loginWithGoogle' | translate }}</button>
  </div>

  <div class="divider">{{ 'loginPage.divider' | translate }}</div>

  <!-- Login Form -->
  <form [formGroup]="authForm" (ngSubmit)="loginWithEmail()">
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'loginPage.form.emailLabel' | translate }}</mat-label>
      <input type="email" matInput formControlName="email" [placeholder]="'loginPage.form.emailPlaceholder' | translate" />
      <mat-error *ngIf="emailFormControl?.hasError('required')">{{ 'loginPage.form.emailRequired' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>{{ 'loginPage.form.passwordLabel' | translate }}</mat-label>
      <input type="password" matInput formControlName="password" [placeholder]="'loginPage.form.passwordPlaceholder' | translate" />
      <mat-error *ngIf="passwordFormControl?.hasError('required')">{{ 'loginPage.form.passwordRequired' | translate }}</mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit" [disabled]="authForm.invalid">{{ 'loginPage.form.submitButton' | translate }}</button>
  </form>

  <!-- Error Message -->
  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }

  <div class="actions">
    <button mat-button (click)="navigateToRegister()">{{ 'loginPage.registerPrompt' | translate }}</button>
  </div>
</div>
